/* @value red-color from '../../vars.module.css';
.Product {
  outline: 1px solid tomato;
}

.Product-quantity {
  font-weight: 500;
}

.Product-quantity.available {
  color: green;
}

.Product-quantity.not-available {
  color: red-color;
} */