@value red-color from '../../vars.module.css';
@value cornflowerblue-color from '../../vars.module.css';
.container {
    outline: 1px solid tomato;
}

.name {
    font-weight: 700;
}


/* Базовый */

.quantity {
    font-weight: 500;
}


/* Композиция */

.available {
    composes: quantity;
    color: green;
}


/* Композиция */

.notAvailable {
    composes: quantity;
    color: red-color;
}

.button {
    display: inline-block;
    padding: 15px;
    min-width: 50px;
    color: black;
    background-color: red-color;
    font-size: 15px;
    border: none;
    border-radius: 4px;
}

.primaryButton {
    composes: button;
    background-color: cornflowerblue-color;
}

.secondaryButton {
    composes: button;
    background-color: darkslateblue;
    color: white;
}